venv
cs4300-env
*.pyc
migrations 
vagrant/.vagrant
vagrant/site.retry
vagrant/a4keypair.pem
.idea/
*.iml.DS_Store
.DS_Store
**/.DS_Store
._.DS_Store
**/._.DS_Store
.python-version
data/raw/mard_reviews/**
scripts/.ipynb_checkpoints/
