/**
 * This CSS file will be imported on every page of the website.
 * Only global elements should be defined here.
 */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&family=Roboto+Mono&display=swap');

html,body { margin: 0; }

body {
    background: #75A3A3;
    font-family: 'Roboto Mono', 'Open Sans', sans-serif;
}

p {
    font-family: 'Roboto Mono', 'Open Sans', sans-serif;
    font-size: 12px;
}
