/**
 * GLOBAL STYLE PAGE
 * ========================
 * This CSS file will be imported on every page of the website.
 * Only global elements should be defined here.
 */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&family=Roboto+Mono&family=Didact+Gothic&display=swap');

html,body { margin: 0; }
body {
    background: #75A3A3;
    font-family: 'Roboto Mono', 'Open Sans', sans-serif;
}

/* ===== Text Elements ===== */
p {
    font-family: 'Roboto Mono', 'Open Sans', sans-serif;
    font-size: 13px;
}
h1 {
    font-family: 'Abril Fatface', serif;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 2px;
}
h2 {
    font-family: 'Abril Fatface', serif;
    font-size: 40px;
    letter-spacing: 1px;
}
h3 {
    font-family: 'Abril Fatface', serif;
    font-size: 30px;
}
h4 {
    font-family: 'Roboto Mono', 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
}
::selection {
    background: #bcd6d6;
}
::-moz-selection {
    background: #bcd6d6;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ===== Header Elements ===== */
#searchbox {
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
    min-width: 650px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#searchbox .title a {
    font-family: 'Abril Fatface', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 50px;
    color: #303030;
}
.title a,
.title a:hover {
    text-decoration:none;
    text-underline: none;
}
#searchbox .sb_left {}
#searchbox .sb_right {
    flex-grow: 3;
    margin-left: 40px;
    text-align: left;
}
#searchbox.pinned {
    /* styling for when title is in top left */
    position: absolute;
    top: -120px; left: -120px;
    padding: 140px 20px 20px 140px;
    border-radius: 100px;
}
#searchbox.pinned .record_icon {
    width: 100px;
    height: auto;
    margin: 10px;
}

/* ===== Search Input Elements ===== */
#search_fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.search_item {
    padding: 0;
    margin: 0;
    position: relative;
}
input.search {
    /* Matches all search input boxes */
    padding: 15px;
    background: #e3e3e3;
    border: 1px solid #d4d4d4;
    outline: 0px;
    width: 200px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
input.search:focus {
    border: 1px solid #c3c6c9;
    outline: 0px;
    box-shadow: unset;
}
.global-search .sb_submit {
    border: none;
    padding: 15px;
    border-radius: 5px;
    height: 50px;
    background: #95bfbf;
    color: white;
    transition: all 500ms ease-in-out;
    margin-bottom: 10px;
}
.global-search .sb_submit:hover {
    background: #75A3A3;
    color: white;
}

/* Autocomplete Stying */
.autocomplete-items {
    position: absolute; top: 55px; left: 0;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    background: #fafafa;
    z-index: 9999999999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 30vh;
    overflow: scroll;
    margin-top: 3px;
}
.autocomplete-suggestion {
    padding: 10px;
}
.autocomplete-dummy {
    color: #8a8a8a;
    font-style: italic;
}
.autocomplete-suggestion:hover, .autocomplete-active {
    background: #abc7c7;
}

/* SEARCH INPUT TAGS */
.tags_input {
    height: 50px;
    padding: 3px 10px;
    background: #e3e3e3;
    border: 1px solid #d4d4d4;
    outline: 0px;
    width: 200px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 11px;
    color: grey;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: flex-start;
}
/* User-created tags */
.tags_input .user-tag {
    width: auto;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    background: #c3dae0;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 3;
}
.tags_input .user-tag:after {
    content: "  x";
    color: #3e3e3e;
}
.tags_input .user-tag:active {
    background: #aec8ce;
}
/* Input */
.tags_input .tag-input-div {
    width: auto;
    padding: 0; margin: 0;
    flex-grow: 0;
    flex-shrink: 3;
    flex-basis: 10px;
}
.tags_input .tag-input-div input.tag {
    border: none;
    outline: 0;
    padding: 0; margin: 0;
    background: none;
}
