/**
 * This CSS file will be imported on every page of the website.
 * Only global elements should be defined here.
 */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&family=Roboto+Mono&display=swap');

html,body { margin: 0; }

body {
    background: #75A3A3;
    font-family: 'Roboto Mono', 'Open Sans', sans-serif;
}

/* Text Elements */

p {
    font-family: 'Roboto Mono', 'Open Sans', sans-serif;
    font-size: 12px;
}

h1 {
    font-family: 'Abril Fatface', serif;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 2px;
}

/* Styling Containers */
#searchbox {
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#searchbox .title {
    font-family: 'Abril Fatface', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 50px;
    color: #303030;
}

#searchbox a,
#searchbox a:hover {
    text-decoration:none;
    text-underline: none;
}

#searchbox .sb_left {}

#searchbox .sb_right {
    flex-grow: 3;
    margin-left: 40px;
    text-align: left;
}
