/* Heading/Logo Elements */
#searchbox.centered {
    padding: 20px;
    margin: calc(50vh - 130px) 20%;
    border-radius: 200px;
    height: 260px;
}

#searchbox .record_icon {
    width: 200px;
    height: auto;
    margin: 10px;
}

#searchbox .title {
    margin-bottom: 20px;
}

#searchbox input {
    padding: 15px;
    background: #ededed;
    border: none;
    outline: 0px;
    width: 70%;
    border-radius: 5px;
}

#searchbox input:focus {
    border: none;
    outline: 0px;
    box-shadow: unset;
}

#searchbox .sb_submit {
    border: none;
    padding: 10px;
    border-radius: 5px;
}
