<!--
    HOMEPAGE
    This is the main page that users begin at. They will enter their initial query on this page.
    ============
    Leaving this in just in case we somehow still need it here lol
    <p>Project Name: {{ name }}</p>
    <p>Student Name: {{ netid }}</p>
-->

<html>

<head>
    <title>Similar Singer</title>
    <link rel="icon" href="/static/img/record_logo.png">
    <link rel="stylesheet" href="/static/style/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/global.css">
    <link rel="stylesheet" href="/static/style/home.css">
    <script src="/static/scripts/jquery-3.6.0.js"></script>
</head>

<body>
    <!-- HOMEPAGE SEARCH BOX -->
    <div id="searchbox" class="centered">
        <div class="sb_left">
            <a href="/"><img class="record_icon" src="/static/img/record_logo.svg"></a>
        </div>
        <div class="sb_right">
            <div class="title noselect"><a href="/">{{ name }}</a></div>
            <div class="search_item">
                {% if query_info and (not query_info['artist_name']) %}
                <p style="color: red;"> Please enter a liked artist.</p>
                {% elif query_info and (query_info['artist_name'] == query_info['disliked_artist']) %}
                <p style="color: red;"> Try entering different liked and disliked artists.</p>
                {% elif query_info %}
                <p style="color: red;"> Artist not found. </p>
                {% endif %}
            </div>
            <form class="global-search" method="GET" autocomplete="off">
                <div id="search_fields">
                    {% if query_info %}
                    <div class="search_item"><input class="search fav_artist" id="input" type="text" name="search"
                            placeholder="your favorite artist" value="{{ query_info['artist_name'] }}"></div>
                    <div class="search_item"><input class="search ling_desc" id="input" type="text" name="ling_desc"
                            placeholder="describe a mood, tempo, rhythm, etc." value="{{ query_info['ling_desc'] }}"></div>
                    <div class="search_item"><input class="search disliked_artist" id="input" type="text"
                            name="disliked_artist" placeholder="which artist do you NOT like?" value="{{ query_info['disliked_artist'] }}"></div>
                    {% else %}
                    <div class="search_item"><input class="search fav_artist" id="input" type="text" name="search"
                            placeholder="your favorite artist"></div>
                    <div class="search_item"><input class="search ling_desc" id="input" type="text" name="ling_desc"
                            placeholder="describe a mood, tempo, rhythm, etc."></div>
                    <div class="search_item"><input class="search disliked_artist" id="input" type="text"
                            name="disliked_artist" placeholder="which artist do you NOT like?"></div>
                    {% endif %}
                    <button class="sb_submit" type="submit"> ▶ </button>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="/static/scripts/search_autocomplete.js"></script>
<script>
    // Instantiating code goes here so that we can make use of Flask templates
    let artists = [{% for artist in artist_names %}'{{artist}}', {% endfor %}""].slice(0, -1);
    console.log(artists.length);

    initAutoCompleteDropdown(document.getElementsByClassName("fav_artist")[0], artists);
    initAutoCompleteDropdown(document.getElementsByClassName("disliked_artist")[0], artists);
</script>

</html>