<!--
    HOMEPAGE
    This is the main page that users begin at. They will enter their initial query on this page.
    ============
    Leaving this in just in case we somehow still need it here lol
    <p>Project Name: {{ name }}</p>
    <p>Student Name: {{ netid }}</p>
-->

<html>
    <head>
        <link rel="stylesheet" href="/static/style/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style/global.css">
        <link rel="stylesheet" href="/static/style/home.css">
    </head>
    <body>
        <!-- HOMEPAGE SEARCH BOX -->
        <div id="searchbox" class="centered">
            <div class="sb_left">
                <a href="/"><img class="record_icon" src="/static/img/record_logo.svg"></a>
            </div>
            <div class="sb_right">
                <div class="title noselect"><a href="/">{{ name }}</a></div>
                <form class="global-search" method="GET">
                    <input class="search" id="input" type="text" name="search" placeholder="describe a musical artist here...">
                    <button class="sb_submit" type="submit"> Go! </button>
                </form>
            </div>
        </div>
    </body>

</html>
